.user-profile-card {
  max-width: 500px;
  margin: 60px auto;
  border-radius: 8px;
  border: 3px solid orange;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  
}

.user-profile-content {
  display: flex;
  padding: 20px;
  
}

.user-profile-image {
  width: 150px;
  height: 150px;
  border: 2px solid greenyellow;
  border-radius: 5%;
  margin-right: 40px;
}

.user-profile-details {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.user-profile-details h2 ,p {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.user-profile-details p{
  font-size: 1.2rem;
  margin-bottom: 5px;
  font-style: italic;
  font-weight: 400;
}

